 <!-- Banner Image  -->
 <div
 class="banner-image w-100 vh-100" >
 <div class="content">
<div class="container text-white">
  <div class="row d-flex vh-100 align-items-center">
    <div class="col-md-6 ">
   <h1 class="text-white fw-bold display-2">POWER IN EVERY BITE</h1>
<p class="lh-lg">We offer quality dietary supplements made with special care to anybody who wants to reach their body's fullest potential.</p>

</div>


    </div>

  </div>
 </div>
</div>

<div class="container-fluid mt-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src=".././../../../assets/about.avif" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 py-5 mt-5">
      <h5 class="mt-5 mx-5">ABOUT US </h5>
        <h1 class="display-1 mx-5 fw-bold mt-4">Born out of obsession</h1>
        <p class="mx-5 lh-lg">Enson was created by people who care about how their body looks and feels. Our products are made by the rebels, who do not want to be limited by poor health and lack of power. That is why Enson is the child of our passion for fitness: we are strong-headed, so having a strong body to match that is the ultimate goal we are striving to reach every day.
        </p>
        <div class="d-flex mt-4 justify-content-evenly">
          <button class="about text-white btn px-4 p-2">LEARN MORE</button>
          <button class="about text-white btn  px-4 p-2">OUR BLOG</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- food your body crave  -->

<div class="gym-image container-fluid mt-5">
  <div class="container  text-white ">
 <div class="row  d-flex vh-100 align-items-center">
  <div class="col-md-6 ">
    <h1 class="fw-bold gym-h1 display-1">Food your body   craves for</h1>
  </div>
 </div>
  </div>
</div>
<!-- food your body crave  -->


<!-- out PRODUCTS  -->
<div class="container-fluid py-5 my-5">
<div class="container">
  <h1>OUR PRODUCTS</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="   h-100">
        <div class="card-body">
          <div class="card-image">
      <img src="../../../../assets/6767.jpg" class="img-fluid i " alt="">
         <h4 class="mt-4">PRE WORKOUT</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="">
        <div class="card-body">
          <div class="card-image">
      <img src="../../../../assets/nitrotech-1.5lb-in-pakistan.jpg" class="img-fluid " alt="">
                <h4 class="mt-4">PROTIEN BAR </h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-4">
 <div class="col-md-12 d-lg-flex justify-content-lg-between">
  <p class="">We have a great select ion of products that will make your body flourish and <br> help you reach your full potential.</p>
  <button class="btn about text-white">SHOP NOW </button>
 </div>

  </div>
</div>

</div>

<!-- out PRODUCTS   -->


<!-- products created with your mind  -->
<div class="container-fluid mind">
  <div class="container">
    <div class="row">
<div class="col-lg-6">
  <img src="../../../../assets/proteinbar.avif" class="img-fluid" alt="">
</div>
<div class="col-lg-6 mt-5 py-5 ">
  <h5 class="mx-5">PRODUCTS</h5>
  <h1 class="fw-bold display-1 mx-4 mt-4">Created with you in mind</h1>
  <p class="lh-lg mx-4 py-4">Our obsession has led us to discovering the best products for any body type and any goal your mind might think of. Made with the best ingredients, Enson products make sure that you can reach your full potential – without having to sacrifice the taste
  </p>
  <button class="  learnMore mx-4 px-4 btn-light text-dark">LEARN MORE  </button>
</div>
    </div>
  </div>
</div>
<!-- products created with your mind  -->


<!-- tesimonal -->

<div class="container-fluid tesimonal">
  <div class="container text-white ">
    <div class="row ">
      <div class="col-md-12 mt-5 py-5">
        <h2 class="fw-bold display-1" >Testimonials</h2>
      </div>
    </div>
 <div class="row">
  <div class="col-md-6 ">
   <h3>FRANK VYNEHALL</h3>
   <p class="lh-lg mt-5">“I like muscles, and I am a buff dude. Girls love it. If any cannibal would like to eat me, they could make a good strong steak and be like "OMG, why does this taste so good?" Enson, that is why."</p>
  </div>
  <div class="col-md-6 ">
    <h3>JESS TAYLOR</h3>
    <p class="lh-lg mt-5">“Having tried a variety of different pre-workouts and protein bars, I always felt like the taste was off and the results – well, meh at their best. But then Enson came around. These products keep me going and pushing for even better results.“

    </p>
   </div>
 </div>
  </div>
</div>