<div class="container mt-5">
    <div class="row">
        <form>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Email</label>
            <input type="email" class="form-control"  placeholder="email">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="password">
          </div>
            
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div>
            <p>
                <a routerLink="../register">Register here </a>
            </p>
          </div>
        </form>
    </div>
</div>