<div class="banner-image " >
    <div class="content">
    <div class="container text-white">
     <div class="row d-flex justify-content-center vh-100 align-items-center">
       <div class="col-md-8 text-center ">
      <h1 class="text-white fw-bold display-2">LEARN TO TAKE CARE OF YOURSELF</h1>
    </div>
       </div>
     </div>
    </div>
    </div>

    <!-- blog   -->
    <div class="container-fluid py-5 mt-5">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="   h-100">
            <div class="card-body">
              <div class="card-image">
          <img src="../../../../assets/blog1.avif" class="img-fluid i " alt="">
               <div class="card-title">
                <h4 class="mt-3">Products you must have</h4>
               </div>
               <div class="card-text">
                <p>This is the space for a short but eye-catching description of what your blog post will be covering.</p>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="">
            <div class="card-body">
              <div class="card-image">
          <img src="../../../../assets/blog2.avif" class="img-fluid " alt="">
              <div class="card-title">
                 <h4 class="mt-3">Finding perfect workout routine</h4>
              </div>
                <div class="card-text">
                     <p>This is the space for a short but eye-catching description of what your blog post will be covering.</p>
                   </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="">
              <div class="card-body">
                <div class="card-image">
            <img src="../../../../assets/blog-3.avif" class="img-fluid " alt="">
                <div class="card-title">
                   <h4 class="mt-3">Breakfast Ideas</h4>
                </div>
                  <div class="card-text">
                       <p>This is the space for a short but eye-catching description of what your blog post will be covering.</p>
                     </div>
                </div>
              </div>
            </div>
          </div>
      </div>
     </div>
    </div>

    <!-- blog   -->