<!-- 

<div class="container">
    <div class="row">
        <div class="col-lg-3 d-flex justify-content-center">
            <div>
                 <div *ngFor="let data of productObject.ImageDetail">
                     <img  [src]="Url+data?.ImageUrl" alt="">
                 </div>
            </div>
        <div class="col d-flex justify-content-center">
          <div>
            <h1>{{productObject.productName}}</h1>
            <h3>{{productObject.price |currency}}</h3>
            <div class="cat action" *ngFor="let data of productObject.size">
                <label>
                    <input type="checkbox" [value]="data" (click)="getSizes($event)"><span>{{data}}</span>
                </label>
            </div>
            <div>
                <button class="btn btn-outline-success mx-3" (click)="decrementQuantity()">-</button>
                <button class="btn btn-outline-success mx-3">{{selectedQuantity}}</button>
                <button class="btn btn-outline-success mx-3"(click)="incrementQuantity()">+</button>
            </div>
          </div>
        </div>

        </div>
    </div>
</div> -->
<div class="banner-image " >
    <div class="content">
    <div class="container text-white">
     <div class="row d-flex justify-content-center vh-100 align-items-center">
       <div class="col-md-8 text-center ">
      <h1 class="text-white fw-bold display-2">BROWSE YOUR SELECTION</h1>
    </div> 
       </div>
     </div>
    </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-7" >
                <img [src]="Url+productObject.ImageDetail[0].ImageUrl" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5">
                <h3>{{productObject.productName}}</h3>
                <h6 routerLink="/shop" >Back To catalog</h6>
                <h6>{{productObject.price |currency}}</h6>
          <ng-container  *ngFor="let data of productObject.size">
            <div >
                <label >
                    <input type="checkbox" class="mx-1" [value]="data" (click)="getSizes($event)"><span>{{data}}</span>
                </label>
            </div>
          </ng-container>
          <div>
            <h6>Porduct Details</h6>
            <p>{{productObject.description}}</p>
          </div>
             <div>
                <div>
                    <button class="btn btn-outline-success rounded-pill mx-3" (click)="decrementQuantity()">-</button>
                    <button class="btn btn-outline-success mx-3">{{selectedQuantity}}</button>
                    <button class="btn btn-outline-success rounded-pill mx-3"(click)="incrementQuantity()">+</button>
                    <span></span>
                </div>
                <br>
                <button class="btn btn-outline-dark" type="button"data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" >{{enumButtonText['Add to Cart']}}</button>

             </div>
            </div>
        </div>
    </div>











   

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        ...
      </div>
    </div>



