    <div class="container">
    <h1 class="text-center">CREATE PRODUCT</h1>

        <form [formGroup]="ProductCreateForm" (ngSubmit)="submitForm()">
        
    <div class="row">
        <div class="col-lg-6">
            <div class="group">      
                <input type="text" class="i" formControlName="productName" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Product Name</label>
                <p class="text-danger" *ngIf="productName && productName.invalid && productName.touched">This filed is required </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="group">      
                <input type="text" class="i" formControlName="Quantity" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Product Quantity</label>
                <p class="text-danger" *ngIf="Quantity && Quantity.invalid && Quantity.touched">This filed is required </p>

            </div>
        </div>
    </div>
            
   
    <div class="row">
        <div class="col-lg-6">
            <div class="group">      
                <input type="text" class="i" formControlName="flavour" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Flavours</label>
                <p class="text-danger" *ngIf="flavour && flavour.invalid && flavour.touched">This filed is required </p>

            </div>
        </div>

        <div class="col-lg-6">
            <div class="group">      
                <input type="number" class="i" required formControlName="price">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Price</label>
                <p class="text-danger" *ngIf="price  && price.invalid && price.touched">This filed is required </p>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="group">      
                <div class="mb-3">
                  <label for="" class="form-label">Description</label>
                  <textarea class="form-control"  name="" id="" rows="3" formControlName="description"></textarea>
                </div>
                <span class="highlight"></span>
                <span class="bar"></span>
                <p class="text-danger" *ngIf="description && description.invalid && description.touched">This filed is required </p>
                
            </div>
        </div>
        <div class="col-lg-6">
          <label for="" class="tag mx-5">Select Size</label>
          
             
            <div class="mb-3 mx-5">
             <ng-container *ngFor="let item of SelectSize">
                <input #checkbox class="form-check-input" type="checkbox" [id]="item"  [name]="item" [value]="item" (click)="getSize($event)" id="flexCheckDefault">     
                <label class="form-check-label mx-2 " [for]="item">{{item}}</label>
             </ng-container>
              </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <label for="" class="tag mb-2">Select Categories</label>
            <select class="form-select input" formControlName="categories">
              <option *ngFor="let data of category" [value]="data">{{data}}</option>
            </select>
            <p class="text-danger" *ngIf="categories && categories.invalid && categories.touched">This filed is required </p>

        </div>

        <div class="col-lg-6">
            <div class="mb-3">
              <label for="" class="form-label">Choose file</label>
              <input #fileSelect type="file" class="form-control" name="" id=""  multiple (change)="getImages($event)"  aria-describedby="fileHelpId">
              <div id="fileHelpId" class="form-text">Help text</div>
            </div>
        </div>
    </div>
    <button class="about text-white btn px-4 p-2" [disabled]="ProductCreateForm.invalid" >SUBMIT</button>

        </form>
            

        
    </div>