h1,h2,h3,h4,h5,h6{
    font-family: 'Cinzel' !important;
  
  }
  .h{
    font-family: 'Cinzel' !important;


  }
.banner-image {

    background: linear-gradient(to bottom,rgba(9,30,57,-0.3),rgba(9,30,62,.7)), url('../../../../assets/contact.jpg');
    /* linear-gradient(to bottom,rgba(9,30,57,-0.3),rgba(9,30,62,0.7)), url('pexels-cottonbro-studio-7672106.jpg') */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  p{
    color: rgb(47,47,48);
    font-family: 'Nanum Myeongjo';

  }

label{
    font-family: 'Nanum Myeongjo';

}

  .main{
    background-color: rgb(235,235,239);
  }
  .return{
    background-color: rgb(38,32,30);
  }